@{
    var user = await UserManager.GetUserAsync(User);
}



<header>
    <div class="container">
        <a id="logo" asp-controller="Default" asp-action="Home">
            <img src="~/images/Silicon Logotype - Light Mode.svg" alt="">
        </a>

       
            <nav>
                <a asp-action="Home" asp-controller="Default" asp-fragment="showcase">Overview</a>
                <a asp-action="Home" asp-controller="Default" asp-fragment="features">Features</a>
                @if(SignInManager.IsSignedIn(User))
                {
                   <a asp-action="Index" asp-controller="Courses">Courses</a>
                }
                <a asp-action="Contact" asp-controller="Default" >Contact</a>
            </nav>


            <div class="btn-switch">
            <label>Light</label>
            <label class="switch" for="switch-mode">
                <input type="checkbox" id="switch-mode" />
                <span class="slider round"></span>
            </label>
            <label>Dark</label>
            </div>
            
            <div class="account-buttons">
                @if (SignInManager.IsSignedIn(User))
               {
                  <div class="profile">
                      <div class="profile-image">
                          <a asp-action="Details" asp-controller="Account">
                            <img src="~/images/uploads/profiles/@user!.ProfileImage" />
                        </a>
                      </div>

                  </div>
               }
              else
               {
                <a class="btn btn-gray" asp-controller="Auth" asp-action="SignIn"><i class="fa-regular fa-user"></i>Sign In</a>
                <a class="btn btn-theme" asp-controller="Auth" asp-action="SignUp"><i class="fa-regular fa-user"></i>Sign Up</a>
               }
           
            
            </div>

    </div>
</header>
