<!DOCTYPE html>
<html lang="se-sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="https://kit.fontawesome.com/2eb5533ec7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <title>@ViewData["Title"] - Silicon</title>

</head>
<body>



    <div class="wrapper">
        <main>
            <partial name= "_Header" />
            @RenderBody()
        </main>
        <partial name= "_Footer" />
    </div>
   

     

    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
